{{ template "header.html" . }}

  <h1 class="title">
    Contacts
    <a href="/edit_contact/0" class="button is-small is-primary" style="float: right" title="Create new contact">+</a>
  </h1>

  <table class="table container">

    <thead>
    <tr>
        <th>Name</th>
        <th>Organization, title</th>
        <th>Source</th>
        <th>Comments</th>
    </tr>
    </thead>

    <tbody>
    {{ range .contacts }}
    <tr {{ if not .Active }}style="background-color: #f5f5f5;"{{ end }}>
        <td><a href="/contact/{{ .Id }}">{{ .FirstName }} {{ .LastName }}</a></td>
        <td>{{ .Company }}, {{ .Title }}</td>
        <td>{{ .Source }}</td>
        <td>{{ .Comments }}</td>
    </tr>
    {{ end }}
    </tbody>

  </table>

{{ template "footer.html" .}}
