{{ template "header.html" . }}

  <h1 class="title">
    {{ if eq .work.Id 0 }}New{{ else }}Edit{{ end }} Log Entry
  </h1>


  <form method="post" action="/save_work">

    <input type="hidden" name="id" value="{{ .work.Id }}">

    <div class="field">
      <label class="label" >Date</label>
      <div class="field-body">
        <input class="input" type="date" name="work_date" value="{{ .work.WorkDate }}" required />
      </div>
    </div>

    <div class="field">
      <label class="label">Project</label>
      <div class="control">
        <div class="select">
          <select name="project_id" required>
            <option value="">-- Select Project --</option>
            {{ range .projects }}
            <option value="{{ .Id }}" {{ if eq $.work.ProjectId .Id }}selected{{ end }}>{{ .Client }} - {{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>

      <div class="field">
        <label class="label">Hours</label>
        <div class="control">
          <input class="input" type="number" name="hours" value="{{ printf "%.2f" .work.Hours }}" required />
        </div>
      </div>

      <div class="field">
        <label class="label">Billable</label>
        <div class="control">
          <input type="checkbox" name="billable" {{ if .work.Billable }}checked{{ end }} />
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" name="description" rows="4">{{ .work.Description }}</textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">Save</button>
        </div>
        <div class="control">
          {{ if ne .work.Id 0 }}
          <a href="/work_entry/{{ .work.Id }}" class="button is-info">View</a>
          {{ end }}
        </div>
        <div class="control">
          <a href="/log" class="button is-light">Cancel</a>
        </div>
      </div>
    </form>

{{ template "footer.html" .}}

