<nav class="navbar is-light" style="margin-bottom: 8px" role="navigation" aria-label="main navigation">
  <div id="app-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" 
          {{ if eq .current "log" }}style="background-color: #ccc" {{ end }} 
          href="/log">History</a>
      <a class="navbar-item" 
          {{ if eq .current "calendar" }}style="background-color: #ccc" {{ end }} 
          href="/calendar">Calendar</a>
      <a class="navbar-item" 
          {{ if eq .current "projects" }}style="background-color: #ccc" {{ end }} 
          href="/projects">Projects</a>
      <a class="navbar-item" 
          {{ if eq .current "contacts" }}style="background-color: #ccc" {{ end }} 
          href="/contacts">Contacts</a>
      <a class="navbar-item" 
          {{ if eq .current "reports" }}style="background-color: #ccc" {{ end }} 
          href="/reports">Reports</a>
    </div>
  </div>
</nav>
