{{ template "header.html" . }}

  <h1 class="title">
    Projects
    <a href="/edit_project/0" class="button is-small is-primary" style="float: right" title="Create new project">+</a>
  </h1>

  <div class="tabs is-toggle">
    <ul>
      <li {{ if or (eq .filter "all") (not .filter) }}class="is-active"{{ end }}>
        <a href="/projects?filter=all">All</a>
      </li>
      <li {{ if eq .filter "active" }}class="is-active"{{ end }}>
        <a href="/projects?filter=active">Active</a>
      </li>
      <li {{ if eq .filter "inactive" }}class="is-active"{{ end }}>
        <a href="/projects?filter=inactive">Inactive</a>
      </li>
    </ul>
  </div>

  <table class="table is-fullwidth">

    <thead>
    <tr>
        <th>Client</th>
        <th>Name</th>
        <th>Description</th>
        <th style="width: 220px">Dates</th>
        <th style="width: 120px">Hours (Entries)</th>
    </tr>
    </thead>

    <tbody>
    {{ $lastDate := "" }}  <!-- for date breaks -->
    {{ range .projects }}
    <tr {{ if not .Active }}style="background-color: #f5f5f5;"{{ end }}>
        <td>{{ .Client }}</td>
        <td><a href="/project/{{ .Id }}">{{ .Name }}</a></td>
        <td>{{ .Description }}</td>
        <td>{{ .Earliest }} to {{ .Latest }}</td>
        <td>{{ .Hours }} ({{ .Logs }})</td>
    </tr>
    {{ end }}
    </tbody>

  </table>

{{ template "footer.html" .}}
