{{ template "header.html" . }}

  <h1 class="title">
    {{ .work.ProjectName }} on {{ .work.WorkDate }}
    <div style="float: right">
      <a href="/edit_log/{{ .work.Id }}" class="button is-small is-primary">Edit</a>
      <button onclick="confirmWorkDeletion({{ .work.Id }})" class="button is-small is-danger" style="margin-left: 0.5em;">Delete</button>
    </div>
  </h1>

  <div class="content">
    <table class="table">
      <tbody>
        <tr>
          <th>Date</th>
          <td>{{ .work.WorkDate }}</td>
        </tr>
        <tr>
          <th>Client</th>
          <td>{{ .work.Client }}</td>
        </tr>
        <tr>
          <th>Project</th>
          <td>
            {{ if .work.ProjectId }}
              <a href="/project/{{ .work.ProjectId }}">{{ .work.ProjectName }}</a>
            {{ else }}
              {{ .work.ProjectName }}
            {{ end }}
          </td>
        </tr>
        <tr>
          <th>Hours</th>
          <td>{{ printf "%.2f" .work.Hours }}</td>
        </tr>
        <tr>
          <th>Billable</th>
          <td>
            {{ if .work.Billable }}
              <span class="tag is-success">Yes</span>
            {{ else }}
              <span class="tag is-danger">No</span>
            {{ end }}
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ .work.Description }}</td>
        </tr>
      </tbody>
    </table>
  </div>

{{ template "footer.html" .}}

